<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/main.ejs') %>
</head>
<body>
  <div style="display: flex; justify-content: flex-end; background-color:rgb(88, 88, 88)">
    <a type="button" href="/productos/create" class="btn btn-primary btn-lg m-2 p-2">
    Crear Producto
    </a>
  </div>


  <% if(products.length > 0){%>
    <table class="table table-dark">
      <thead>
        <tr class="text-center">
          <th scope="col">id</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">thumbnail</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
          <tr class="text-center">
              <th scope="row"><%= product.id %></th>
              <td><%= product.title %></td>
              <td><%= product.price %></td>
              <td>
                  <img height="75px" width="120px" src=<%= product.thumbnail %> alt=<%= product.title %> />
              </td>
          </tr>
      <% }) %>
      </tbody>
    </table>
<% } else {%> 
  <p>No hay productos creados</p>
<% } %> 
</body>